# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
**/src-tauri/target/
**/src-tauri/gen/schemas/

# Env
.env
.env.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
pnpm-debug.log*

# Turbo
.turbo/

# Sources
feishin-development/

# AI (i assume it)
.clinerules