# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
src-tauri/target/

# Env
.env
.env.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
pnpm-debug.log*

# Turbo
.turbo/

# AI
.continue/
.clinerules/

# Sources

feishin-development/
